/* Body háttérkép beállítása */
body {
  background-image: url("./mamikbank-high-resolution-logo.png");
  background-size: cover;  /* A háttérkép kitöltse az egész képernyőt */
  background-position: center 0%;  /* A háttérkép eltolása lefelé (20%-kal a tetejétől) */
  background-repeat: no-repeat;  /* Ne ismétlődjön a háttérkép */
  height: 100vh;  /* A háttérkép az egész képernyőt kitölti */
  margin: 0; /* Nincs margó a body elem körül */
}



/* Navbar alap stílus */
.navbar {
  background-color: rgba(0, 51, 102, 0.9); /* Fél átlátszó háttér a navbar-on */
  padding: 10px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Navbar linkek alap stílusa */
.navbar-nav .nav-link {
  color: white !important;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 16px;
  transition: all 0.3s ease;
}

/* Navbar linkek hover állapota */
.navbar-nav .nav-link:hover {
  color: #ffcc00 !important;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

/* Aktív linkek stílusa */
.navbar-nav .nav-link.active {
  color: #ffcc00 !important;
}

/* Navbar elemek középre igazítása */
.navbar-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

/* Reszponzív viselkedés mobil nézetre */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .navbar-nav .nav-item {
    margin: 5px 0;
  }

  .navbar-nav .nav-link {
    font-size: 16px;
    padding: 10px 20px;
  }
}

/* Kisebb képernyőkhöz igazítás */
@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }
  .nav-link {
    font-size: 1.2rem;
  }
}
